@mixin desktop {
  @media (min-width: 1441px) {
    @content;
  }
}

@mixin desktop-base {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}