@import '@/styles/variables';
@import '@/styles/mixins';

.menu {
  position: fixed;
  top: 101px; /* Start below the new header height (76px height + 25px top) */
  left: 0;
  width: 100%;
  height: calc(100vh - 101px); /* Adjust height to fill remaining space */
  background-color: $white;
  z-index: $z-burger-menu;
  padding: 40px 30px;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden; // Hide and make non-interactive
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s;

  &.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; // Show and make interactive
  }
}

.topContent {
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
  align-items: flex-start; /* Align items to the left */

  a {
    font-family: $font-secondary;
    font-size: 40px; /* New font size */
    font-weight: 500; /* Medium */
    color: #606060; /* Updated font color */
    text-decoration: none;
    text-transform: uppercase; /* Make text uppercase */
    position: relative;
    padding: 10px 15px; // Add padding for better interaction area
    border-radius: 10px; // Border radius for the hover effect
    z-index: 1; // Ensure text is above the hover effect

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background-color: transparent;
      border-radius: 10px;
      transform: translate(-50%, -50%);
      transition: width 0.3s, height 0.3s, background-color 0.3s;
      z-index: -1; // Behind the text
    }

    &:hover {
      color: $black-primary;
      &::before {
        width: 131px; // Base size for hover
        height: 43px;
        background-color: rgba(34, 34, 34, 0.1); // Light background on hover
      }
    }
  }
}

.socials {
  display: flex;
  gap: 40px; /* Space between icons */
  margin-top: 30px; /* Space below nav links */
}

.ctaButton {
  @include button-reset;
  background-color: $black-secondary;
  color: $white;
  font-family: $font-secondary;
  width: 316px;
  max-width: 100%; /* Ensure it doesn't overflow on very small screens */
  height: 60px;
  font-size: 20px;
  font-weight: 600; /* SemiBold */
  border-radius: 15px;
  margin-top: 40px;
  align-self: center; /* Center the button horizontally */
  text-transform: uppercase; /* Make button text uppercase */

  @media (max-width: 375px) {
    width: 100%; /* Make button full width on small screens */
  }
}
