@import '@/styles/variables';
@import '@/styles/mixins';

.menu {
  position: fixed;
  top: 101px; 
  left: 0;
  width: 100%;
  height: calc(100vh - 101px); 
  background-color: $white;
  z-index: $z-burger-menu;
  padding: 40px 30px;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s;

  &.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; 
  }
}

.topContent {
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
  align-items: flex-start; 

  a {
    font-family: $font-secondary;
    font-size: 40px; 
    font-weight: 500; 
    color: #606060; 
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding: 10px 15px; 
    border-radius: 10px; 
    z-index: 1; 

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background-color: transparent;
      border-radius: 10px;
      transform: translate(-50%, -50%);
      transition: width 0.3s, height 0.3s, background-color 0.3s;
      z-index: -1; 
    }

    &:hover {
      color: $black-primary;
      &::before {
        width: 131px; 
        height: 43px;
        background-color: rgba(34, 34, 34, 0.1); 
      }
    }
  }
}

.socials {
  display: flex;
  gap: 40px; 
  margin-top: 30px; 
}

.ctaButton {
  @include button-reset;
  background-color: $black-secondary;
  color: $white;
  font-family: $font-secondary;
  width: 316px;
  max-width: 100%; 
  height: 60px;
  font-size: 20px;
  font-weight: 600; 
  border-radius: 15px;
  margin-top: 40px;
  align-self: center; 
  text-transform: uppercase; 

  @media (max-width: 375px) {
    width: 100%; 
  }
}
