@import '@/styles/variables';
@import '@/styles/mixins';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  z-index: $z-header;
  transition: background-color $transition-base;

  @media (max-width: $tablet) {
    height: 76px;
  }

  &.scrolled {
    background-color: $white-70;
    backdrop-filter: blur(10px);
    border-radius: 0 0 20px 20px;
  }
}

.container {
  @include container;
  @include flex-between;
  height: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
}

.logo {
  @include flex-center;
  gap: 7px;
  cursor: pointer;
}

.logoIcon {
  width: 53px;
  height: 53px;

  @media (max-width: $mobile) {
    width: 46px;
    height: 46px;
  }
}

.logoText {
  font-family: $font-primary;
  font-size: 30px;
  line-height: 39px;
  color: $black-secondary;

  @media (max-width: $mobile) {
    font-size: 22px;
    line-height: 24px;
  }
}

.nav {
  display: flex;
  gap: 50px;

  @media (max-width: $tablet) {
    display: none;
  }
}

.navLink {
  font-family: $font-secondary;
  font-size: 18px;
  line-height: 26.74px;
  color: #5f5f5f;
  text-decoration: none;
  transition: color $transition-base;
  position: relative;

  &:hover {
    color: $black-primary;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black-primary;
    }
  }
}

.ctaButton {
  @include button-reset;
  background-color: $black-secondary;
  color: $white;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 22px;
  padding: 16px 24px;
  border-radius: 16px;
  transition: background-color $transition-base;

  @media (max-width: $tablet) {
    display: none;
  }

  &:hover {
    background-color: $black-hover;
  }
}

.burgerButton {
  @include button-reset;
  display: none;
  flex-direction: column;
  gap: 5.58px;
  width: 40px;
  height: 40px;
  padding: 8.84px 4.25px;

  @media (max-width: $tablet) {
    display: flex;
  }

  span {
    width: 31.5px;
    height: 2px;
    background-color: #908f8f;
    transition: all $transition-base;
  }
}