@import '@/styles/variables';
@import '@/styles/mixins';

.header {
  position: fixed;
  width: 100%;
  z-index: $z-header;
  transition: background-color $transition-base, height $transition-base, top $transition-base;
  height: 54px;
  top: 25px;

  &.scrolled {
    background-color: $white-70;
    backdrop-filter: blur(10px);
    border-radius: 0 0 10px 10px;
  }

  @media (min-width: 1920px) {
    height: 88px;
  }
  
  @media (min-width: 1440px) and (max-width: 1919px) {
    height: 88px;
  }

  @media (min-width: 1025px) and (max-width: 1439px) {
    height: 88px;
    top: 25px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    height: 88px;
    top: 25px;
  }

  @media (max-width: 900px) {
    height: 88px;
    top: 25px;
    padding: 0 30px;
    border-bottom: 1px solid #201F1F;
  }

  @media (max-width: 375px) {
    padding: 0 0px;
  }
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  transition: width $transition-base;
  margin: 0 auto;
  z-index: 1001; 

  @media (min-width: 1240px) {
    width: 1246px;
  }
  
  @media (min-width: 901px) and (max-width: 1239px) {
    width: 890px;
  }

  @media (max-width: 900px) {
    width: 100%;
    justify-content: space-between;
  }

  @media (max-width: 375px) {
    max-width: 315px;
    min-width: unset;
  }
}

.desktopHeader {
  display: flex;
  align-items: center;
  width: 100%;

  @media (max-width: 900px) {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
}

.logoIcon {
  transition: width $transition-base, height $transition-base;
  
  @media (min-width: 1240px) {
    width: 53px;
    height: 53px;
  }

  @media (min-width: 901px) and (max-width: 1239px) {
    width: 38px;
    height: 38px;
  }
  
  @media (max-width: 900px) {
    width: 46px;
    height: 46px;
  }
}

.logoText {
  display: none;
  font-family: $font-primary;
  font-weight: 600;
  color: $black-secondary;
  transition: font-size $transition-base;

  @media (max-width: 900px) {
    display: block;
    font-size: 22px;
    margin-left: 7px;
    font-family: $font-primary;
  }
}

.mobileLogo .logoText {
  @media (max-width: 900px) {
    display: block;
    font-size: 22px;
    margin-left: 7px;
    font-family: $font-primary;
  }
}

.nav {
  display: flex;
  align-items: center;
  transition: gap $transition-base, margin-left $transition-base;

  @media (min-width: 1240px) {
    gap: 50px;
    margin-left: 70px;
  }

  @media (min-width: 901px) and (max-width: 1239px) {
    gap: 32px;
    margin-left: 40px;
  }

  @media (max-width: 900px) {
    display: none;
  }
}

.navLink {
  font-family: $font-secondary;
  font-weight: 500;
  color: #606060;
  text-decoration: none;
  transition: color $transition-base, font-size $transition-base;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 10px 15px; 
  border-radius: 10px; 
  z-index: 1; 

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: transparent;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s, background-color 0.3s;
    z-index: -1; 
  }

  &:hover {
    color: $black-primary;
  }

  &:active {
    &::before {
      width: 131px; // Base size
      height: 43px;
      background-color: rgba(34, 34, 34, 0.1); 
    }
  }

  @media (min-width: 1240px) {
    font-size: 18px;
    &:active {
      &::before {
        width: 131px;
        height: 43px;
      }
    }
  }

  @media (min-width: 901px) and (max-width: 1239px) {
    font-size: 14px;
    &:active {
      &::before {
        width: 100px; 
        height: 35px;
      }
    }
  }

  @media (max-width: 900px) {
    &:active {
      &::before {
        width: 80px; 
        height: 30px;
      }
    }
  }
}

.positionSpacer {
  flex-grow: 1;
}

.ctaButton {
  @include button-reset;
  background-color: $black-secondary;
  color: $white;
  font-family: $font-secondary;
  font-weight: 600;
  text-transform: uppercase;
  transition: width $transition-base, height $transition-base, font-size $transition-base, border-radius $transition-base, background-color $transition-base;
  flex-shrink: 0;

  &:hover {
    background-color: $black-hover;
  }

  @media (min-width: 1240px) {
    width: 200px;
    height: 54px;
    font-size: 16px;
    border-radius: 16px;
  }

  @media (min-width: 901px) and (max-width: 1239px) {
    width: 140px;
    height: 40px;
    font-size: 11.5px;
    border-radius: 11.5px;
  }
  
  @media (max-width: 900px) {
    display: none;
  }
}

.mobileHeader {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 900px) {
    display: flex;
  }
}

.mobileLogo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.burgerButton {
  @include button-reset;
  z-index: 1002;
  pointer-events: auto;
  cursor: pointer;
  
  img {
    transition: transform $transition-base;
  }

  &[aria-label="Close menu"] {
    img {
      transform: rotate(90deg);
    }
  }

  @media (max-width: 900px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}